.inline-list li {
    display: inline;
}
.photo-section {
    text-align: center;
    zoom: 1;
}
.photo-section:after {
    content: ' ';
    display: block;
    clear: both;
    line-height: 0;
}
.photo-list li {
    width: auto;
    display: block;
    float: left;
    margin: 0 1em 1em;
}
.photo-list img {
    width: auto;
    max-width: none;
}
ol {
    list-style: decimal;
    padding-left: 1.5em;
}
ol>li:before {
    display: none;
    margin-left: 0;
}
ol>li {
    padding-left: 0;
}
.contact img {
    position: absolute;
    left: -9999px;
    top: -9999px;
}
.contact a {
    display: inline-block;
    width: 24px;
    height: 20px;
    background-repeat: no-repeat;
}
.contact .twitter {
    background-image: url("../icons/twitter.png");
}
.contact .email {
    background-image: url("../icons/email.png");
}